<!-- <h1>Footer will later add</h1> -->
<div class=" bg-slate-900 h-[8vh] text-white flex items-center justify-evenly">
    
    <div>
        <p class=" ml-3">Copyright &copy; by Mohammad Nurullah. All right reserved</p>
    </div>

    <div class=" mr-3">
       <ul class="flex">
            <li><a href="#" class="mx-4">Home</a></li>
            <li><a href="#" class="mx-4">About</a></li>
            <li><a href="#" class="mx-4">Archives</a></li>
            <li><a href="#" class="mx-4">Blog Posts</a></li>
          </ul> 
    </div>
</div>