{% extends 'base.html' %} {% block content %}

<div class="bg-stone-600 h-[82vh] text-white">
  <h2 class="text-6xl text-center italic pt-14 font-['Dancing_Script']">
    About Me
  </h2>
  <div class="flex justify-center mt-16">
    <!-- card 01 -->
    <div
      class="basis-[23%] h-80 space-y-11 rounded-lg px-3 py-4 bg-zinc-700 hover:scale-[1.05] hover:transform transition duration-300 drop-shadow-2xl"
    >
      <h4 class="text-4xl text-bold text-center">Education</h4>
      <p class="text-justify">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi
        repellendus saepe modi velit eius autem iusto tenetur adipisci dolores
        eligendi
      </p>
      <div class="flex justify-center">
        <a href="#">
          <input
            class="border py-2 px-4 text-center hover:bg-amber-600 hover:border-none hover:text-black transform transition"
            type="button"
            value="Read more"
        /></a>
      </div>
    </div>

    <!-- card-02 -->
    <div
      class="basis-[23%] space-y-11 rounded-lg mx-6 px-3 py-4 bg-zinc-700 hover:scale-[1.05] hover:transform transition duration-300 shadow-2xl shadow-zinc-100/20 hover:shadow-none"
    >
      <h4 class="text-4xl text-bold text-center">Skill</h4>
      <p class="text-justify">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi
        repellendus saepe modi velit eius autem iusto tenetur adipisci dolores
        eligendi
      </p>
      <div class="flex justify-center">
        <a href="#" target="_blank">
          <input
            class="border py-2 px-4 text-center hover:bg-amber-600 hover:border-none hover:text-black transform transition"
            type="button"
            value="Read more"
        /></a>
      </div>
    </div>

    <!-- card-02 -->
    <div
      class="basis-[23%] space-y-11 rounded-lg px-3 py-4 bg-zinc-700 hover:scale-[1.05] hover:transform transition duration-300 shadow-2xl shadow-zinc-100/20 hover:shadow-none"
    >
      <h4 class="text-center text-4xl text-bold">Experience</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi
        repellendus saepe modi velit eius autem iusto tenetur adipisci dolores
        eligendi
      </p>
      <div class="flex justify-center">
        <input
          class="border py-2 px-4 text-center hover:bg-amber-600 hover:border-none hover:text-black transform transition"
          type="button"
          value="Read more"
        />
      </div>
    </div>
  </div>
</div>

{% endblock %}
